/* Estilos base */
.Carro-final {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: auto; /* Altura automática para se adaptar ao conteúdo */
}

.Carro-final img {
    max-width: 100%; /* Certifica-se de que a imagem não exceda a largura do contêiner */
    max-height: 100%; /* Certifica-se de que a imagem não exceda a altura do contêiner */
}

.Lista-vertical {
    font-size: 2rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
}

.Lista-vertical a {
    text-decoration: none;
    color: black;
}

.Lista-vertical li {
    padding-bottom: 1rem;
}

.Lista-vertical a:hover {
    cursor: pointer;
    color: aquamarine;
}

/* Consulta de mídia para telas menores */
@media screen and (max-width: 768px) {
    .Lista-vertical {
        font-size: 1.6rem; /* Reduz o tamanho da fonte */
        margin-left: 2rem; /* Reduz a margem esquerda */
    }
}
